@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    text-align: center;
    margin: 160px 0 auto;
    background-image: url(img/%D0%BF%D0%B5%D0%B9%D0%B7%D0%B0%D0%B6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
}

/*scrol*/

::-webkit-scrollbar {
    width: 12px;
    background: #222;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #222;
    border-radius: 8px;
}
   

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #eaad8e, #b7604f, #563240); 
    border-radius: 10px;
    border: 3px solid #222;
}
  

::-webkit-scrollbar-thumb:hover {
    opacity: 0.9; 
}


img {
    position: absolute;
    top: -36%;
    left: -17%;
    opacity: 0.7;
    transition: all .6s;
    transform: scale(0.06);
}

img:hover {
    opacity: 0.9;
    transform: scale(0.08);
}

.h1 {
    font-size: 90px;
    margin-top: 55px;
    width: 100%;
    text-shadow: 8px 6px 13px #000;
    opacity: 0.85;
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;  
    font-weight: 500;
}
/*nav*/
.nav_h {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: opacity .2s linear;
    transition: .7s;
    opacity: 0.7;
    border: 2px solid #000;
    padding: 40px;
}
.nav_h:hover {
    opacity: 1;
    color: black;
    transform: scale(1.2);
}
.nav_c {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: opacity .2s linear;
    transition: .7s;
    opacity: 0.7;
    border: 2px solid #000;
    padding: 40px;
}
.nav_c:hover {
    opacity: 1;
    color: black;
    transform: scale(1.2);
}
.nav_r {
    margin: 0 15px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: opacity .2s linear;
    transition: .7s;
    opacity: 0.7;
    border: 2px solid #000;
    padding: 40px;
}
.nav_r:hover {
    opacity: 1;
    color: black;
    transform: scale(1.2);
}

/*med*/

@media screen and (max-width: 1000px) {
    img {
        position: absolute;
        top: -12%;
        left: -21%;
        transform: scale(0.08);
    }
    img:hover {
        transform: scale(0.1)
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        display: flex;
        flex-direction: column;
        width: 30%;
        box-sizing: border-box;
        align-content: center;
        margin: 0 340px!important;
        font-weight: 600;
        opacity: 0.9;
    }
}
@media screen and (max-width: 1000px) {
    .nav_c, .nav_r {
        font-size: 50px;
        align-content: center;
        padding: 70px 55px;
        margin: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .nav_h{
        font-size: 50px;
        width: 150%;
        align-content: center;
        padding: 75px;
        margin: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .h1{
        font-size: 155px;
        opacity: 0.75;
    }
}
@media screen and (max-width: 1000px) {
    .h3, .a_{
        font-size: 40px;
    }
}



.h3 {
    color: mediumpurple;
    opacity: 0.8;
    padding-top: 50px;
    
    
}

.a_ {
    text-decoration: none;
    color: #4d3bfe;
    opacity: 0.7;
    transition: opacity 1s linear;

}

.a_:hover {
    opacity: 1;
    
}